{% extends "layout.html" %}
{% from "macros/categories.html" import render_category_nav %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}


    <section class="section section--singular">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <header class="page-header">
                        <h1 class="page-title">Select by Category</h1>
                        <h5 class="page-subtitle">
                            <span>More than 112 sessions await you.</span>
                            <span>The schedule will be released soon.</span>
                        </h5>
                    </header>
                    <div class="row">
                        <div class="col-12 col-xl-10 offset-xl-1">
                            <div class="blog-list in-view in-view--in">
                                <p><span class="sub-head-2">Filter</span></p>
                                {{ render_category_nav() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}




