{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% macro talk(key) -%}
  {%if key in bag("talks")%}
    <b id="{{key}}"><a href="talks/{{bag("talks")[key]["slug"]}}/">{{bag("talks")[key]["title"]}}</a></b> {%if bag("talks")[key]["tutorial"] %}(Tutorial){%endif%}<br>
    <i>{{bag("talks")[key]["speakers"]}}</i><br>
    <span class="tags">{{bag("talks")[key]["domains"]}}</span>
  {%endif %}
{%- endmacro %}


{% block body %}
  {{ this.body}}


<!-- MAIN CONTENT -->
<div id="main-content" class="main-content">

    <div class="section">
        <div class="container">
            <div class="section-heading">
                <h2>Schedule</h2>
            </div>
           <div class="section-content">
            <div class="row">
<h2>Wednesday 24.10.2018</h2>
<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="18%">Media Theatre</th>
    <th width="18%">Lecture Hall</th>
    <th width="18%">Kubus</th>
    <th width="18%">Media Lounge</th>
    <th width="18%">Open Hub</th>
  </tr>
</thead>
<tbody>

  <tr>
    <td>09:00</th>
    <td>Registration</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>09:30</th>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10:15</th>
    <td>Opening</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="">
    <td>10:30</th>
    <td colspan="2"><h2><a href="https://zkm.de/en/person/peter-weibel">Keynote: Prof. Peter Weibel</a></h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="wed-11:30">
    <td>11:30</th>
    <td>{{talk("wed-11:30-media")}}</td>
    <td>{{talk("wed-11:30-lecture")}}</td>
    <td>{{talk("wed-11:30-cubus")}}</td>
    <td>{{talk("wed-11:30-lounge")}}</td>
    <td rowspan="2" class="tutorial">{{talk("wed-11:30-openhub")}}</td>
  </tr>
  <tr id="wed-12:20">
    <td>12:15</th>
    <td>{{talk("wed-12:20-media")}}</td>
    <td>{{talk("wed-12:20-lecture")}}</td>
    <td>{{talk("wed-12:20-cubus")}}</td>
    <td>{{talk("wed-12:20-lounge")}}</td>
    <!--<td>{{talk("wed-12:15-openhub")}}</td>-->
  </tr>
  <tr id="wed-12:50">
    <td>12:50</th>
    <td colspan="5"><h3>Lunch Break</h3></td>
  </tr>
  <tr id="wed-14:00">
    <td>14:00</th>
    <td>{{talk("wed-14:00-media")}}</td>
    <td>{{talk("wed-14:00-lecture")}}</td>
    <td>{{talk("wed-14:00-cubus")}}</td>
    <!-- TODO<td>{{talk("wed-14:00-lounge")}}</td> -->
    <td rowspan="2" class="tutorial">{{talk("thu-16:00-lounge")}}</td>
    <td rowspan="2" class="tutorial">{{talk("wed-14:00-openhub")}}</td>
  </tr>
  <tr id="wed-14:50">
    <td>14:50</th>
    <td>{{talk("wed-14:50-media")}}</td>
    <td>{{talk("wed-14:50-lecture")}}</td>
    <td>{{talk("wed-14:50-cubus")}}</td>
    <!-- <td>{{talk("wed-14:50-lounge")}}</td>-->
    <!--<td>{{talk("wed-14:45-openhub")}}</td>-->
  </tr>
  <tr id="wed-15:35">
    <td>15:35</th>
    <td colspan="5">Coffee Break</td>
  </tr>
  <tr id="wed-16:00">
    <td>16:00</th>
    <td>{{talk("wed-16:00-media")}}</td>
    <td>{{talk("wed-16:00-lecture")}}</td>
    <td>{{talk("wed-16:00-cubus")}}</td>
    <td>{{talk("wed-16:00-lounge")}}</td>
    <td rowspan="3" class="tutorial">{{talk("wed-16:00-openhub")}}</td>
  </tr>
  <tr id="wed-16:35">
    <td>16:35</th>
    <td>{{talk("wed-16:35-media")}}</td>
    <td>{{talk("wed-16:35-lecture")}}</td>
    <td>{{talk("wed-16:35-cubus")}}</td>
    <td>{{talk("wed-16:35-lounge")}}</td>
    <!--<td>{{talk("wed-16:35-openhub")}}</td>-->
  </tr>
  <tr id="wed-17:10">
    <td>17:10</th>
    <td>{{talk("wed-17:10-media")}}</td>
    <td>{{talk("wed-17:10-lecture")}}</td>
    <td>{{talk("wed-17:10-cubus")}}</td>
    <td>{{talk("wed-17:10-lounge")}}</td>
    <!--<td>{{talk("wed-17:10-openhub")}}</td>-->
  </tr>
  <tr>
    <td>17:30</th>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18:15</th>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="90%">PTV</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>19:00</th>
    <td><h2><a href="/schedule/meetup">PyCon.DE Meetup at PTV<a></h2></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Thursday 25.10.2018</h2>
<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="18%">Media Theatre</th>
    <th width="18%">Lecture Hall</th>
    <th width="18%">Kubus</th>
    <th width="18%">Media Lounge</th>
    <th width="18%">Open Hub</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>08:45</th>
    <td>Morning Announcements</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr  id="">
    <td>09:00</th>
    <td colspan="2"><h2><a href="/blog/pyconde-and-pydata-karlsruhe-2018-keynote-wes-mckinney/">Keynote: Wes McKinney</a></h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10:00</th>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="thu-10:30">
    <td>10:30</th>
    <td>{{talk("thu-10:30-media")}}</td>
    <td>{{talk("thu-10:30-lecture")}}</td>
    <td>{{talk("thu-10:30-cubus")}}</td>
    <td>{{talk("thu-10:30-lounge")}}</td>
    <td rowspan="3" class="tutorial">{{talk("thu-10:30-openhub")}}</td>
  </tr>
  <tr id="thu-11:20">
    <td>11:20</th>
    <td>{{talk("thu-11:20-media")}}</td>
    <td>{{talk("thu-11:20-lecture")}}</td>
    <td>{{talk("thu-11:20-cubus")}}</td>
    <td>{{talk("thu-11:20-lounge")}}</td>
    <!--<td>{{talk("thu-11:20-openhub")}}</td>-->
  </tr>
  <tr id="thu-11:55">
    <td>11:55</th>
    <td>{{talk("thu-11:55-media")}}</td>
    <td>{{talk("thu-11:55-lecture")}}</td>
    <td>{{talk("thu-11:55-cubus")}}</td>
    <td>{{talk("thu-11:55-lounge")}}</td>
    <!--<td>{{talk("thu-11:55-openhub")}}</td>-->
  </tr>
  <tr id="thu-12:25">
    <td>13:00</th>
    <td colspan="2"><h3>Lunch Break</h3></td>
    <td colspan="3"><h3>Foyer Poster Session</h3></td>
  </tr>
  <tr id="thu-14:00">
    <td>14:00</th>
    <td>{{talk("thu-14:00-media")}}</td>
    <td>{{talk("thu-14:00-lecture")}}</td>
    <td>{{talk("thu-14:00-cubus")}}</td>
    <td>{{talk("thu-14:00-lounge")}}</td>
    <td rowspan="3" class="tutorial">{{talk("thu-14:00-openhub")}}</td>
  </tr>
  <tr id="thu-14:50">
    <td>14:50</th>
    <td>{{talk("thu-14:50-media")}}</td>
    <td>{{talk("thu-14:50-lecture")}}</td>
    <td>{{talk("thu-14:50-cubus")}}</td>
    <td>{{talk("thu-14:50-lounge")}}</td>
   <!-- <td>{{talk("thu-14:50-openhub")}}</td>-->
  </tr>
  <tr id="thu-15:25">
    <td>15:25</th>
    <td>{{talk("thu-15:25-media")}}</td>
    <td>{{talk("thu-15:25-lecture")}}</td>
    <td>{{talk("thu-15:25-cubus")}}</td>
    <td>{{talk("thu-15:25-lounge")}}</td>
    <!--<td>{{talk("thu-15:25-openhub")}}</td>-->
  </tr>
  <tr id="thu-15:40">
    <td>15:40</th>
    <td colspan="5">Coffee Break</td>
  </tr>
  <tr id="thu-16:00">
    <td>16:00</th>
    <td>{{talk("thu-16:00-media")}}</td>
    <td>{{talk("thu-16:00-lecture")}}</td>
    <td>{{talk("thu-16:00-cubus")}}</td>
    <td rowspan="3" class="assembly"><b><a href="#">Python Verband Assembly</a></b></td>
    <!--<td rowspan="2" class="tutorial">{{talk("thu-16:00-lounge")}}</td>-->
    <td rowspan="3">{{talk("thu-16:00-openhub")}}</td>
  </tr>
  <tr id="thu-16:35">
    <td>16:35</th>
    <td>{{talk("thu-16:35-media")}}</td>
    <td>{{talk("thu-16:35-lecture")}}</td>
    <td>{{talk("thu-16:35-cubus")}}</td>
    <!--<td rowspan="2">Python Verband Assembly</td>-->
    <!--<td>{{talk("thu-16:35-openhub")}}</td>-->
  </tr>
  <tr id="thu-17:10">
    <td>17:10</th>
    <td>{{talk("thu-17:10-media")}}</td>
    <td>{{talk("thu-17:10-lecture")}}</td>
    <td>{{talk("thu-17:10-cubus")}}</td>
    <!--<td>{{talk("thu-17:10-lounge")}}</td>-->
    <!--<td>{{talk("thu-17:10-openhub")}}</td>-->
  </tr>
  <tr>
    <td>17:30</th>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18:15</th>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="90%">Badisch Brauhaus</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>19:00</th>
    <td><h3><a href="/schedule/social-event">Social Event</a></h3></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Friday 26.10.2018</h2>
<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="18%">Media Theatre</th>
    <th width="18%">Lecture Hall</th>
    <th width="18%">Kubus</th>
    <th width="18%">Media Lounge</th>
    <th width="18%">Open Hub</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>08:45</th>
    <td>Morning Announcements</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr  id="">
    <td>09:00</th>
    <td colspan="2"><h2><a href="/blog/pyconde-and-pydata-karlsruhe-2018-keynote-emmanuelle-ouillart/">Keynote: Emmanuelle Gouillart</a></h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10:00</th>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="fri-10:30">
    <td>10:30</th>
    <td>{{talk("fri-10:30-media")}}</td>
    <td>{{talk("fri-10:30-lecture")}}</td>
    <td>{{talk("fri-10:30-cubus")}}</td>
    <!--<td rowspan="3" class="assembly"><b><a href="#">Python Verband Assembly</a></b></td>-->
    <td>{{talk("fri-10:30-lounge")}}</td>
    <td rowspan="3" class="tutorial">{{talk("fri-10:30-openhub")}}</td>
  </tr>
  <tr id="fri-11:20">
    <td>11:20</th>
    <td>{{talk("fri-11:20-media")}}</td>
    <td>{{talk("fri-11:20-lecture")}}</td>
    <td>{{talk("fri-11:20-cubus")}}</td>
    <td>{{talk("fri-11:20-lounge")}}</td>
    <!--<td>{{talk("fri-11:20-openhub")}}</td>-->
  </tr>
  <tr id="fri-11:55">
    <td>11:55</th>
    <td>{{talk("fri-11:55-media")}}</td>
    <td>{{talk("fri-11:55-lecture")}}</td>
    <td>{{talk("fri-11:55-cubus")}}</td>
    <td>{{talk("fri-11:55-lounge")}}</td>
    <!--<td>{{talk("fri-11:55-openhub")}}</td>-->
  </tr>
  <tr id="fri-12:30">
    <td>12:30</th>
    <td colspan="5"><h3>Lunch Break</h3></td>
  </tr>
  <tr id="fri-14:00">
    <td>14:00</th>
    <td><!--{{talk("fri-14:00-media")}}--></td>
    <td>{{talk("fri-14:00-lecture")}}</td>
    <td>{{talk("fri-14:00-cubus")}}</td>
    <td>{{talk("fri-14:00-lounge")}}</td>
    <td rowspan="3" class="tutorial">{{talk("fri-14:00-openhub")}}</td>
  </tr>
  <tr id="fri-14:50">
    <td>14:50</th>
    <td>{{talk("fri-14:50-media")}}</td>
    <td>{{talk("fri-14:50-lecture")}}</td>
    <td>{{talk("fri-14:50-cubus")}}</td>
    <td>{{talk("fri-14:50-lounge")}}</td>
    <!--<td>{{talk("fri-14:50-openhub")}}</td>-->
  </tr>
  <tr id="fri-15:25">
    <td>15:25</th>
    <td colspan="4">Sprint Orientation</td>
    <!--<td>{{talk("fri-15:25-media")}}</td>
    <td>{{talk("fri-15:25-lecture")}}</td>
    <td>{{talk("fri-15:25-cubus")}}</td>
    <td>{{talk("fri-15:25-lounge")}}</td>
    <td>{{talk("fri-15:25-openhub")}}</td>-->
  </tr>
  <tr id="fri-15:40">
    <td>15:40</th>
    <td colspan="5">Coffee Break</td>
  </tr>
  <tr>
    <td>16:00</th>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>16:30</th>
    <td>Closing Session</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>17:00</th>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Saturday 27.10.2018</h2>
<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="90%" colspan="2">Fettschmelze</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>10:00</th>
    <td><h3><a href="/schedule/sprints">PyCon.DE Sprint<a></h3></td>
    <td><h3><a href="/blog/pyladies-x-micropython-pyconde/">PyLadies &amp; MicroPython Hackathon<a></h3></td>
  </tr>
  <tr>
    <td>12:30</th>
    <td>Lunch Break</td>
  </tr>
  <tr>
    <td>13:30</th>
    <td><h3><a href="/schedule/sprints">PyCon.DE Sprint<a></h3></td>
    <td><h3><a href="/blog/pyladies-x-micropython-pyconde/">PyLadies &amp; MicroPython Hackathon<a></h3></td>
  </tr>
  <tr>
    <td>18:00</th>
    <td>End</td>
  </tr>
</tbody>
</table>

<h2>Sunday 28.10.2018</h2>
<table class="table">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="90%">Fettschmelze</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>10:00</th>
    <td><h3><a href="/schedule/sprints">PyCon.DE Sprint<a></h3></td>
  </tr>
  <tr>
    <td>12:30</th>
    <td>Lunch Break</td>
  </tr>
  <tr>
    <td>13:30</th>
    <td><h3><a href="/schedule/sprints">PyCon.DE Sprint<a></h3></td>
  </tr>
  <tr>
    <td>17:00</th>
    <td>End</td>
  </tr>
</tbody>
</table>

            </div>

           </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

{% endblock %}
