{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ this.body}}

{% macro talk2(key) -%}
  <b><a href="talks/{{bag("talks")[key]["slug"]}}/">{{bag("talks")[key]["title"]}}</a></b></br>
  <i>{{bag("talks")[key]["speaker"]}}</i><br>
  {{bag("talks")[key]["tags"]|join(", ")}}
{%- endmacro %}


{% macro talk(key) -%}
  {%if key in bag("talks")%}
    <b id="{{key}}"><a href="talks/{{bag("talks")[key]["slug"]}}/">{{bag("talks")[key]["title"]}}</a></b> {%if bag("talks")[key]["tutorial"] %}(Tutorial){%endif%}<br>
    <i>{{bag("talks")[key]["speakers"]}}</i><br>
    <span class="tags">{{bag("talks")[key]["domains"]}}</span>
  {%endif %}
{%- endmacro %}

<!-- MAIN CONTENT -->
<div id="main-content" class="main-content">

    <div class="section">
        <div class="container">
            <div class="section-heading">
                <h2>Schedule</h2>
            </div>
           <div class="section-content">
            <div class="row">
<h2>Wednesday 24.10.2018</h2>
<table class="table  table-hover">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="18%">Media Theatre</th>
    <th width="18%">Lecture Hall</th>
    <th width="18%">Kubus</th>
    <th width="18%">Media Lounge</th>
    <th width="18%">Open Hub</th>
  </tr>
</thead>
<tbody>

  <tr>
    <td>09:00</th>
    <td>Registration</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>09:30</th>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10:15</th>
    <td>Opening</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="">
    <td>10:30</th>
    <td colspan="2"><h2>Keynote</h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="wed-11:30">
    <td>11:30</th>
    <td>{{talk("wed-11:30-media")}}</td>
    <td>{{talk("wed-11:30-lecture")}}</td>
    <td>{{talk("wed-11:30-cubus")}}</td>
    <td>{{talk("wed-11:30-lounge")}}</td>
    <td rowspan="2">{{talk("wed-11:30-openhub")}}</td>
  </tr>
  <tr id="wed-12:15">
    <td>12:15</th>
    <td>{{talk("wed-12:15-media")}}</td>
    <td>{{talk("wed-12:15-lecture")}}</td>
    <td>{{talk("wed-12:15-cubus")}}</td>
    <td>{{talk("wed-12:15-lounge")}}</td>
    <!--<td>{{talk("wed-12:15-openhub")}}</td>-->
  </tr>
  <tr id="wed-13:00">
    <td>13:00</th>
    <td colspan="5"><h3>Lunch Break</h3></td>
  </tr>
  <tr id="wed-14:00">
    <td>14:00</th>
    <td>{{talk("wed-14:00-media")}}</td>
    <td>{{talk("wed-14:00-lecture")}}</td>
    <td>{{talk("wed-14:00-cubus")}}</td>
    <td>{{talk("wed-14:00-lounge")}}</td>
    <td rowspan="2">{{talk("wed-14:00-openhub")}}</td>
  </tr>
  <tr id="wed-14:45">
    <td>14:45</th>
    <td>{{talk("wed-14:45-media")}}</td>
    <td>{{talk("wed-14:45-lecture")}}</td>
    <td>{{talk("wed-14:45-cubus")}}</td>
    <td>{{talk("wed-14:45-lounge")}}</td>
    <!--<td>{{talk("wed-14:45-openhub")}}</td>-->
  </tr>
  <tr id="wed-15:40">
    <td>15:40</th>
    <td colspan="5">Coffee Break</td>
  </tr>
  <tr id="wed-16:00">
    <td>16:00</th>
    <td>{{talk("wed-16:00-media")}}</td>
    <td>{{talk("wed-16:00-lecture")}}</td>
    <td>{{talk("wed-16:00-cubus")}}</td>
    <td>{{talk("wed-16:00-lounge")}}</td>
    <td rowspan="3">{{talk("wed-16:00-openhub")}}</td>
  </tr>
  <tr id="wed-16:30">
    <td>16:30</th>
    <td>{{talk("wed-16:30-media")}}</td>
    <td>{{talk("wed-16:30-lecture")}}</td>
    <td>{{talk("wed-16:30-cubus")}}</td>
    <td>{{talk("wed-16:30-lounge")}}</td>
    <!--<td>{{talk("wed-16:30-openhub")}}</td>-->
  </tr>
  <tr id="wed-17:00">
    <td>17:00</th>
    <td>{{talk("wed-17:00-media")}}</td>
    <td>{{talk("wed-17:00-lecture")}}</td>
    <td>{{talk("wed-17:00-cubus")}}</td>
    <td>{{talk("wed-17:00-lounge")}}</td>
    <!--<td>{{talk("wed-17:00-openhub")}}</td>-->
  </tr>
  <tr>
    <td>17:30</th>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18:15</th>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table  table-hover">
<thead>
  <tr>
    <th width="12%">#</th>
    <th width="88%">TBA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>19:00</th>
    <td><b>Meetup</b></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Thursday 25.10.2018</h2>
<table class="table  table-hover">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="18%">Media Theatre</th>
    <th width="18%">Lecture Hall</th>
    <th width="18%">Kubus</th>
    <th width="18%">Media Lounge</th>
    <th width="18%">Open Hub</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>08:45</th>
    <td>Morning Announcements</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr  id="">
    <td>09:00</th>
    <td colspan="2"><h2>Keynote: Wes McKinney</h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10:00</th>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="thu-10:30">
    <td>10:30</th>
    <td>{{talk("thu-10:30-media")}}</td>
    <td>{{talk("thu-10:30-lecture")}}</td>
    <td>{{talk("thu-10:30-cubus")}}</td>
    <td>{{talk("thu-10:30-lounge")}}</td>
    <td rowspan="3">{{talk("thu-10:30-openhub")}}</td>
  </tr>
  <tr id="thu-11:15">
    <td>11:15</th>
    <td>{{talk("thu-11:15-media")}}</td>
    <td>{{talk("thu-11:15-lecture")}}</td>
    <td>{{talk("thu-11:15-cubus")}}</td>
    <td>{{talk("thu-11:15-lounge")}}</td>
    <!--<td>{{talk("thu-11:15-openhub")}}</td>-->
  </tr>
  <tr id="thu-11:45">
    <td>11:45</th>
    <td>{{talk("thu-11:45-media")}}</td>
    <td>{{talk("thu-11:45-lecture")}}</td>
    <td>{{talk("thu-11:45-cubus")}}</td>
    <td>{{talk("thu-11:45-lounge")}}</td>
    <!--<td>{{talk("thu-11:45-openhub")}}</td>-->
  </tr>
  <tr id="thu-13:00">
    <td>13:00</th>
    <td colspan="5"><h3>Lunch Break</h3></td>
  </tr>
  <tr id="thu-14:00">
    <td>14:00</th>
    <td>{{talk("thu-14:00-media")}}</td>
    <td>{{talk("thu-14:00-lecture")}}</td>
    <td>{{talk("thu-14:00-cubus")}}</td>
    <td>{{talk("thu-14:00-lounge")}}</td>
    <td rowspan="3">{{talk("thu-14:00-openhub")}}</td>
  </tr>
  <tr id="thu-14:45">
    <td>14:45</th>
    <td>{{talk("thu-14:45-media")}}</td>
    <td>{{talk("thu-14:45-lecture")}}</td>
    <td>{{talk("thu-14:45-cubus")}}</td>
    <td>{{talk("thu-14:45-lounge")}}</td>
   <!-- <td>{{talk("thu-14:45-openhub")}}</td>-->
  </tr>
  <tr id="thu-15:15">
    <td>15:15</th>
    <td>{{talk("thu-15:15-media")}}</td>
    <td>{{talk("thu-15:15-lecture")}}</td>
    <td>{{talk("thu-15:15-cubus")}}</td>
    <td>{{talk("thu-15:15-lounge")}}</td>
    <!--<td>{{talk("thu-15:15-openhub")}}</td>-->
  </tr>
  <tr id="thu-15:40">
    <td>15:40</th>
    <td colspan="5">Coffee Break</td>
  </tr>
  <tr id="thu-16:00">
    <td>16:00</th>
    <td>{{talk("thu-16:00-media")}}</td>
    <td>{{talk("thu-16:00-lecture")}}</td>
    <td>{{talk("thu-16:00-cubus")}}</td>
    <td rowspan="3">{{talk("thu-16:00-lounge")}}</td>
    <td rowspan="3">{{talk("thu-16:00-openhub")}}</td>
  </tr>
  <tr id="thu-16:30">
    <td>16:30</th>
    <td>{{talk("thu-16:30-media")}}</td>
    <td>{{talk("thu-16:30-lecture")}}</td>
    <td>{{talk("thu-16:30-cubus")}}</td>
    <!--<td>{{talk("thu-16:30-lounge")}}</td>-->
    <!--<td>{{talk("thu-16:30-openhub")}}</td>-->
  </tr>
  <tr id="thu-17:00">
    <td>17:00</th>
    <td>{{talk("thu-17:00-media")}}</td>
    <td>{{talk("thu-17:00-lecture")}}</td>
    <td>{{talk("thu-17:00-cubus")}}</td>
    <!--<td>{{talk("thu-17:00-lounge")}}</td>-->
    <!--<td>{{talk("thu-17:00-openhub")}}</td>-->
  </tr>
  <tr>
    <td>17:30</th>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18:15</th>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


<table class="table  table-hover">
<thead>
  <tr>
    <th width="12%">#</th>
    <th width="88%">TBA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>19:00</th>
    <td><b>Social Event</b></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Friday 26.10.2018</h2>
<table class="table  table-hover">
<thead>
  <tr>
    <th width="10%">#</th>
    <th width="18%">Media Theatre</th>
    <th width="18%">Lecture Hall</th>
    <th width="18%">Kubus</th>
    <th width="18%">Media Lounge</th>
    <th width="18%">Open Hub</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>08:45</th>
    <td>Morning Announcements</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr  id="">
    <td>09:00</th>
    <td colspan="2"><h2>Keynote: Emmanuelle Gouillart</h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10:00</th>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="fri-10:30">
    <td>10:30</th>
    <td>{{talk("fri-10:30-media")}}</td>
    <td>{{talk("fri-10:30-lecture")}}</td>
    <td>{{talk("fri-10:30-cubus")}}</td>
    <td>{{talk("fri-10:30-lounge")}}</td>
    <td rowspan="3">{{talk("fri-10:30-openhub")}}</td>
  </tr>
  <tr id="fri-11:15">
    <td>11:15</th>
    <td>{{talk("fri-11:15-media")}}</td>
    <td>{{talk("fri-11:15-lecture")}}</td>
    <td>{{talk("fri-11:15-cubus")}}</td>
    <td>{{talk("fri-11:15-lounge")}}</td>
    <!--<td>{{talk("fri-11:15-openhub")}}</td>-->
  </tr>
  <tr id="fri-11:45">
    <td>11:45</th>
    <td>{{talk("fri-11:45-media")}}</td>
    <td>{{talk("fri-11:45-lecture")}}</td>
    <td>{{talk("fri-11:45-cubus")}}</td>
    <td>{{talk("fri-11:45-lounge")}}</td>
    <!--<td>{{talk("fri-11:45-openhub")}}</td>-->
  </tr>
  <tr id="fri-13:00">
    <td>13:00</th>
    <td colspan="5"><h3>Lunch Break</h3></td>
  </tr>
  <tr id="fri-14:00">
    <td>14:00</th>
    <td>{{talk("fri-14:00-media")}}</td>
    <td>{{talk("fri-14:00-lecture")}}</td>
    <td>{{talk("fri-14:00-cubus")}}</td>
    <td rowspan="3">{{talk("fri-14:00-lounge")}}</td>
    <td rowspan="3">{{talk("fri-14:00-openhub")}}</td>
  </tr>
  <tr id="fri-14:45">
    <td>14:45</th>
    <td>{{talk("fri-14:45-media")}}</td>
    <td>{{talk("fri-14:45-lecture")}}</td>
    <td>{{talk("fri-14:45-cubus")}}</td>
    <!--<td>{{talk("fri-14:45-lounge")}}</td>-->
    <!--<td>{{talk("fri-14:45-openhub")}}</td>-->
  </tr>
  <tr id="fri-15:15">
    <td>15:15</th>
    <td>{{talk("fri-15:15-media")}}</td>
    <td>{{talk("fri-15:15-lecture")}}</td>
    <td>{{talk("fri-15:15-cubus")}}</td>
    <!--<td>{{talk("fri-15:15-lounge")}}</td>-->
    <!--<td>{{talk("fri-15:15-openhub")}}</td>-->
  </tr>
  <tr id="fri-15:40">
    <td>15:40</th>
    <td colspan="5">Coffee Break</td>
  </tr>
  <tr>
    <td>16:00</th>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>16:30</th>
    <td>Closing Session</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>17:00</th>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Saturday 27.10.2018</h2>
<table class="table  table-hover">
<thead>
  <tr>
    <th width="12%">#</th>
    <th width="88%">TBA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>10:00</th>
    <td>Sprint &amp; Hackathon</td>
  </tr>
  <tr>
    <td>12:30</th>
    <td>Lunch Break</td>
  </tr>
  <tr>
    <td>13:30</th>
    <td>Sprint &amp; Hackathon</td>
  </tr>
  <tr>
    <td>18:00</th>
    <td>End</td>
  </tr>
</tbody>
</table>

<h2>Sunday 28.10.2018</h2>
<table class="table  table-hover">
<thead>
  <tr>
    <th width="12%">#</th>
    <th width="88%">TBA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>10:00</th>
    <td>Sprint &amp; Hackathon</td>
  </tr>
  <tr>
    <td>12:30</th>
    <td>Lunch Break</td>
  </tr>
  <tr>
    <td>13:30</th>
    <td>Sprint &amp; Hackathon</td>
  </tr>
  <tr>
    <td>17:00</th>
    <td>End</td>
  </tr>
</tbody>
</table>

            </div>

           </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

{% endblock %}
