{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}


    <section class="section section--singular">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <header class="page-header page-header__schedule">
                        <h1 class="page-title">Schedule</h1>
                        <h5 class="page-subtitle">
                            <span>More than 112 sessions await you.</span>
                        </h5>
                    </header>

                    {% for theday in  bag('schedule_databag').dates %}

                        <div class="row">
                            <div class="col-12 col-xl-10 offset-xl-1">

                                <h3>{{ theday.day }}</h3>
                                <div class="tabs" role="tablist">
                                    <div class="tabs__navs">

                                        {% for space in theday.rooms %}

                                            <a
                                                    class="tabs__nav {% if loop.index0 == 0 %}tabs__nav--active{% endif %}"
                                                    href="#tabs"
                                                    data-tab="{{ space.data_tab }}"
                                                    tabindex="{% if loop.index0 == 0 %}0{% else %}-1{% endif %}"
                                                    role="tab"
                                                    aria-selected="{% if loop.index0 == 0 %}true{% else %}false{% endif %}">

                                                {{ space.room_name }}
                                                <p><span class="sub-head-2">{{ space.use }}</span></p>
                                                <p><span class="sub-head-2">{{ space.location }}</span></p>
                                            </a>


                                        {% endfor %}

                                    </div>
                                    <div class="tabs__content">

                                        {% for space in theday.rooms %}


                                            <div class="tabs__item {% if loop.index0 == 0 %}tabs__item--active{% endif %}"
                                                 data-tab="{{ space.data_tab }}"
                                                 tabindex="{% if loop.index0 == 0 %}0{% else %}-1{% endif %}" role="tab"
                                                 aria-selected="{% if loop.index0 == 0 %}true{% else %}false{% endif %}">

                                                {% for session in space.sessions %}

                                                    {% if session.time == 'sessionname' %}

                                                        <div class="row clipcard {% if loop.index0 == 0 %}margin-top{% endif %}">
                                                            <div class="col-12 col-md-2 col-lg-1">
                                                                <p class="clipcard__head"><i class="fa fa-sm fa-hand-o-right"></i></p>
                                                            </div>
                                                            <div class="col-12 col-md-10 col-lg-11">
                                                                <div class="clipcard__body">

                                                                    <h6 class="clipcard__title sessionname">{{ session.title }}</h6>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% else %}

                                                        <div class="row clipcard {% if loop.index0 == 0 %}margin-top{% endif %}">
                                                            <div class="col-12 col-md-2 col-lg-1">
                                                                <p class="clipcard__head">{{ session.time }}</p>
                                                            </div>
                                                            <div class="col-12 col-md-10 col-lg-11">
                                                                <div class="clipcard__body">
                                                                    <div class="clipcard__icon"><i
                                                                            class="fa fa-md {{ session.clipcard_icon }}"></i></div>
                                                                    {% if session.speaker_names %}
                                                                        <p class="clipcard__info"><span
                                                                                class="text-body-3">{{ session.speaker_names }}&nbsp;</span>
                                                                        </p>
                                                                    {% endif %}

                                                                    <h6 class="clipcard__title">
                                                                        <a class="schedule_title"
                                                                           href="
                                                                                   {% if session.url %}{{ session.url }}{% else %}#{% endif %}">{{ session.title }}</a>
                                                                    </h6>

                                                                    <span
                                                                            class="clipcard__subtitle"><span
                                                                            class="sub-head-2">{{ session.track }}
                                                                        {% if session.domains %} • {% endif %}{{ session.domains }}</span>
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endif %}

                                                {% endfor %}

                                            </div>

                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}
