{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <main class="site-main" id="main">
        <section class="section section--singular">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <header class="page-header text-center short_margin">

                            <h2 class="page-title">{{ this.title }}</h2>

                            {% set category = this.track.lower().replace('---', '-').replace('--', '-') %}
                            {% set submission_type = this.submission_type.lower().replace('---', '-').replace('--', '-') %}
                            {% set domain_expertise = this.domain_expertise.lower().replace(' ', '-').replace('---', '-').replace('--', '-') %}
                            {% set python_skill = this.python_skill.lower().replace(' ', '-').replace('---', '-').replace('--', '-') %}

                            <h3 class="page-title">{{ this.speakers }}</h3>

                        </header>


                        <div class="single-content">
                            <div class="single-content__footer">

                                <div class="single-content__share">
                                    <span class="sub-head-2">Share</span>
                                    <a href="https://twitter.com/intent/tweet?text={{ this.short_description|urlencode }}&url={{ site.config.PROJECT.url }}{{ '.'|url }}&hashtags=PyConDE,PyDataBerlin"} target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.config.PROJECT.url }}{{ '.'|url }}&title={{ this.title|urlencode }}&summary={{ this.short_description|urlencode }}&source={{ "PyConDE & PYData Berlin 2019"|urlencode }}"
                                    target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>

                            <div class="single-content">

                                <div class="single-content__tags">
                                <h6>{{ this.day|title }} {{ this.start_time }} in {{ this.room|title }}
{#                                    <span class="sub-head-2">When&nbsp;&nbsp;&nbsp;&nbsp;</span>#}
                                    {% for ts in this.slugified_slot_links.split(', ') %}
                                        {% set domain_slug = ts.lower().replace(' ', '-').replace('/', '-').replace('---', '-').replace('--', '-') %}
                                        <a href="/program/categories/{{ ts }}">{{ ts }}</a>
                                    {% endfor %}</h6>
                                </div>

                                <div class="single-content__tags">
                                    <span class="sub-head-2">Type/Track</span>
                                    <a href="/program/categories/{{ submission_type }}">{{ this.submission_type }}</a>
                                    <a href="/program/categories/{{ category }}">{{ this.track }}</a>
                                </div>


                                {{ this.body }}

                                <div class="single-content__tags">
                                    <span class="sub-head-2">Tags&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {% for domain in this.domains.split(', ') %}
                                        {% set domain_slug = domain.lower().replace(' ', '-').replace('/', '-').replace('---', '-').replace('--', '-') %}
                                        <a href="/program/categories/{{ domain_slug }}">{{ domain }}</a>
                                    {% endfor %}
                                </div>
                                <div class="single-content__tags">
                                    <span class="sub-head-2">Level&nbsp;&nbsp;</span>
                                    <a href="/program/categories/{{ domain_expertise }}">{{ this.domain_expertise }}</a>
                                    <a href="/program/categories/{{ python_skill }}">{{ this.python_skill }}</a>
                                </div>


                            </div>
                            <div class="single-content">
                                {{ this.biography }}
                            </div>

                        </div>


                        <img class="lazyload--el lazyloaded" src="{{ this.twitter_image|url }}" data-src="{{ this.twitter_image }}" alt=""
                             width="960" height="480">

                    </div>

                </div>
            </div>
        </section>

    </main>
{% endblock %}