{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <style type="text/css">
        table {
            font-family: Karla, sans-serif;
            padding: 3px;
        }

        tr {
            font-family: Karla, sans-serif;
            font-weight: 500;
            font-size: 0.8em;
            line-height: 1em;
            width: 100%;
        }

        td {
            font-family: Poppins, sans-serif;
            font-size: 0.8em;
            padding: 3px;
        }

        span {
            font-family: Karla, sans-serif;
            font-size: 1em;
        }

        a {
            color: #222;
        }

    </style>

    <section class="section section--singular">
        <div class="container">
            <div class="col-12 offset-xl-1">
                <header class="page-header page-header__schedule">
                    <h1 class="page-title">Schedule Sessions' Table</h1>
                </header>
            </div>

            {% set theheader = bag('schedule_databagTable')["header"] %}


            {% for theday in  bag('schedule_databagTable')["dates"] %}


                <div class="row" >
                    <div class="col-12 col-xl-10 offset-xl-1">

                        <h3>{{ theday.day }}</h3>


                        <table>
                            {% for tr in theday.sessions %}
                                {% if tr[0] != "sessionname" %}
                                    {% set color = "#dce6f2" %}
                                {% else %}
                                    <tr>
                                        {% for room in theheader %}
                                            <td>{{ room }}</td>
                                        {% endfor %}
                                    </tr>

                                    {% set color = "lightgray" %}
                                {% endif %}
                                <tr>

                                    <td rowspan="1" colspan="1">
                                        {% if tr[0] != "sessionname" %}
                                            {{ tr[0] }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>

                                    {% for td in tr[1:] %}
                                        <td style="background-color: {{ color }}; vertical-align: top"
                                            rowspan="{{ td.rowspan }}"
                                            colspan="{{ td.colspan }}">
                                            {% set _href = "/program/" + td.slug if td.slug else "#" %}
                                            {% if _href !="#" %}
                                                <a href="{{ _href }}">
                                                    {{ td.title }}

                                                    {% if td.speakers %}
                                                        <span><br>{{ td.speakers }}</span>
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                {{ td.title }}
                                                {% if td.speakers %}
                                                    <span><br>{{ td.speakers }}</span>
                                                {% endif %}
                                            {% endif %}

                                        </td>
                                    {% endfor %}


                                </tr>
                            {% endfor %}


                            {#                                                <td style="vertical-align: top;" class="tabs__nav" rowspan="{{ tb.rowspan }}" colspan="{{  td.colspan }}">#}
                            {##}
                            {#                                                    {{ td.title }}#}
                            {#                                                </td>#}
                            {##}
                            {#                                                {% for session in _time.sessions %}#}
                            {#                                                    {% if session.title == "" %}#}
                            {#                                                    {% elif session.title == "Lunch" and loop.index > 1 %}#}
                            {#                                                    {% elif session.title == "Coffee Break" and loop.index > 1 %}#}
                            {#                                                    {% else %}#}
                            {#                                                    <td style="vertical-align: top !important; min-width: 18%;background-color: #F8F8F8; padding: 3px;"#}
                            {#                                                    {% if session.type == "Tutorial" or "Open Space" in session.title or "Panel" in session.title %}rowspan="3" {% endif %}>#}
                            {##}
                            {#                                                        <p class="clipcard__title sessionname tabs__nav" >{{ session.room_name }}</p>#}
                            {#                                                        <p class="clipcard__title sessionname compact_title">#}
                            {#                                                            {% set _href = session.url if session.url else "#" %}#}
                            {#                                                            <a class=""#}
                            {#                                                               href="{{ _href }}">{%  if session.type == "" %}{%  else %}<span style="font-size: small;">{{ session.type }}<br></span>{% endif %}{{ session.title }}#}
                            {#                                                            </a>#}
                            {#                                                        {% if session.speaker_names %}#}
                            {#                                                                    <p style="font-size: small;;line-height: 1em;">{{ session.speaker_names }}#}
                            {#                                                                {% endif %}{% if session.end %} (ends#}
                            {#                                                            {{ session.end }}){% endif %}</p>#}
                            {#                                                        </p>#}
                            {#                                                    </td>#}
                            {#                                                    {%  endif %}#}
                            {#                                                {% endfor %}#}


                        </table>
                    </div>
                </div>

            {% endfor %}

        </div>
    </section>

{% endblock %}
