{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

    <main class="site-main" id="main">
        <section class="section section--singular">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">

                        <header class="page-header">
                            <h1 class="page-title">Sponsors</h1>
                        </header>
                        <div class="dashed in-view__child">
                            <p>Without our sponsors it wouldn't be possible to organize PyConDE & PyData Berlin 2021.</p>
                        </div>

                        <section class="section padding-top-0">
                            <div class="container">
                                <div class="row">
                                    <div class="cta__copy text-center">
                                        <a class="btn btn--primary" target="_blank"
                                           href="/static/files/PyConDE-PyData-BerlinSponsoringsheet-2020.pdf">Find our
                                            list of available options for 2020 here</a>
                                    </div>
                                </div>
                                <div>
                                    <p>Contact us to learn more about our available packages: sponsoring@pycon.de</p>
                                </div>
                            </div>

                        </section>

                    </div>
                </div>

            </div>
        </section>

        {% for sponsor_type in bag('sponsors').types %}

            <section class="padding-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xl-10 offset-xl-1">
                            <div class="row">
                                <div class="col-12 col-xl-10 offset-xl-1">
                                    <header class="page-header">
                                        <h5 class="page-subtitle"><span>{{ sponsor_type.name }}</span></h5>
                                    </header>
                                </div>
                            </div>

                            <div class="row">

                                {% for sponsor in sponsor_type.sponsors %}

                                    <div class="col-12 col-lg-6">
                                        <div class="workshop">

                                            <div class="row">
                                                <div class="col-12 col-lg-4 in-view">
                                                    <div class="poster--square">
                                                        <figure><img class="lazyload--el lazyload in-view__child"
                                                                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                     data-src="{{ sponsor.logo }}" alt="" width="445" height="445">
                                                            <div class="poster--cover in-view in-view__child"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-8 in-view">
                                                    <h5 class="margin-top-0 in-view__child in-view__child--fadein">{{ sponsor.name }}</h5>
                                                    <p class="text-body-3 in-view__child in-view__child--fadein">{{ sponsor.description }}
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}

    </main>

{% endblock %}